:root {
  --primary-color: #222831;
  --text-color: white;
  --secondary-color: #e9c46a;
  --logo-margin: 0.5rem;
  --input-background-color: white;
  --input-text-color: #333;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 800;
}

.brand {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.logoIcon {
  color: var(--secondary-color);
  margin-right: var(--logo-margin);
  font-size: 1.5em;
}

.searchBar {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.all {
  margin-right: 5px;
  font-size: large;
  margin-left: 10px;
}

/* Style for the dropdown trigger button */
.all.dropdownTrigger {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 5px;
  margin-left: 10px;
  font-size: large;
}

/* Hide the dropdown menu by default */
.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: medium;
  display: block;
}

.dropdownTrigger:hover .dropdownMenu {
  display: block;
}

.dropdownItem:hover {
  background-color: #6b6565;
}

.searchBar input {
  flex-grow: 1;
  padding: 0.5rem;
  margin-right: var(--logo-margin);
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.searchBar button {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}
.searchBar .searchBtn:hover {
  background-color: #e7a600;
}
.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navItem {
  color: var(--text-color);
  padding: 0.5rem;
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.navItem:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
}

.cart button {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.cart button:hover,
.cart button:focus {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.cart button:active {
  transform: scale(0.95);
}

.cart FontAwesomeIcon {
  margin-right: 0.5rem;
}

.cart .cartLogo {
  font-size: 20px;
  margin-right: 5px;
}

.cart span {
  font-size: 20px; /* Smaller font size for the item count */
  font-weight: bold;
}

.active{
  color: var(--secondary-color);
}

.active{
  color: var(--secondary-color);
}